@font-face {
    font-family: 'AgencyR';
        src: url(../Polices/AGENCYR.eot);
}
@font-face {
    font-family: 'AgencyR';
        src: url(../Polices/AGENCYR.ttf);
}
@font-face {
    font-family: 'Lucida';
        src: url(../Polices/Lucida_webfont.eot);
}
@font-face {
    font-family: 'Lucida';
        src: url(../Polices/Lucida_webfont.ttf);
}

*
{
    margin: 0px;
    padding: 0px;
}

hr
{
    margin-bottom: 2px;
}

a:hover{
    text-decoration: none !important;
}

.relative
{
    position: relative;
}

.absolute
{
    position: absolute;
}

.clear-both
{
    clear: both;
}

.opacity0
{
    opacity: 0;
}

.overflow-x
{
    overflow-x:auto;
}

.overflow-y
{
    overflow-y:auto;
}

/*-------------------------------------SITE----------------------------------*/

body
{
    background: url(../Images/background.png) fixed center no-repeat;
}

#wrapper
{
    width: 960px;
    background-color: white;
    margin: 5px auto 5px auto;
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px #888;
    box-shadow: 0 0 5px 5px #888;
}

.referencement
{
    display: none;
}

.asterisque{
    color: red; 
    font-size: large;
    float:left;
    margin-right:5px;
}

/*------------------------------------FORMULAIRE-------------------------------*/

.lblFormulaire
{
    float:left;
    margin-left:80px;
}

.tbFormulaire
{
    resize:none;
    float:right;
    margin-right:80px;
}

.caracteresRestants
{
    color:gray;
}


/*-------------------------------------HEADER----------------------------------*/
#header
{
    height: 635px;
}

#header-contenant
{
    position: relative;
    z-index: 10;
    padding: 10px;
}

#lnkbtnLogout {
    margin-right:10px;
}

.liens
{
    color: #e71f1f;
    font-family: 'AgencyR';
    font-size: x-large;
}

    .liens:hover
    {
        color: #7f1212;
    }

.pipes
{
    color: #e71f1f;
    font-family: 'AgencyR';
    font-size: x-large;
}

#iconSetting {
    width:18px;
    height:18px;
    margin-right:10px;
}

/*--------------------------------Pastilles----------------------------------------*/

.pastilleGrosseur
{
    top: 0;
    left: 0;
    z-index: 10;
}

.glow
{
    -webkit-border-radius: 51px;
    -moz-border-radius: 51px;
    border-radius: 51px;
    -webkit-transition: -webkit-box-shadow 0.5s ease-out;
    -moz-transition: -moz-box-shadow 0.5s ease-out;
    -o-transition: box-shadow 0.5s ease-out;
}

    .glow:hover
    {
        box-shadow: 0 0 10px 2px #9ddcff;
        -webkit-box-shadow: 0 0 10px 2px #9ddcff;
        -moz-box-shadow: 0 0 10px 2px #9ddcff;
    }

.pastilleSentinelle
{
    top: -100px;
    left: 550px;
}

.pastilleSuicide
{
    top: -100px;
    left: 675px;
}

.pastilleMaltraitance
{
    top: -100px;
    left: 800px;
}

/*---------------------------------Caroussel--------------------------------*/
.contenantCaroussel
{
    top: -30px;
}

.carousel-control
{
    color: #ffffff;
    background: #669fbf;
}

    .carousel-control:hover,
    .carousel-control:focus
    {
        color: #ffffff;
    }

.banniere
{
    z-index: 10;
    top: 305px;
}

/*-------------------------------CONTENT----------------------------------------*/

#contenu
{
    margin-top: 5px;
    padding: 10px;
    width: 700px;
    background-color: white;
    float: left;
}

/*---------------------------------MENU-----------------------------------------*/
#barreNavigation
{
    margin: 15px 0px;
    width: 240px;
    background-color: white;
    float: right;
}

.barreNavigationDiv
{
    width: 220px;
    height: 40px;
}

.barreNavigationDivCourant
{
    width: 220px;
    height: 40px;
    background-color: #7db9e8; /* Old browsers */
    background: -moz-linear-gradient(top, #7db9e8 0%, #207cca 15%, #005ab5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(15%,#207cca), color-stop(100%,#005ab5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7db9e8 0%,#207cca 15%,#005ab5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7db9e8 0%,#207cca 15%,#005ab5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7db9e8 0%,#207cca 15%,#005ab5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #7db9e8 0%,#207cca 15%,#005ab5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#005ab5',GradientType=0 ); /* IE6-9 */

}

.barreNavigationMenu
{
    color: #005ab5;
    font-family: 'AgencyR';
    clear: both;
    font-size: XX-large;
    padding: 10px 5px;
}

    .barreNavigationMenu:hover
    {
        color: black;
        text-decoration: none;
    }

.barreNavigationMenuCurrent
{
    color: white;
    font-family: 'AgencyR';
    clear: both;
    font-size: XX-large;
    padding: 10px 5px;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
}

    .barreNavigationMenuCurrent:hover
    {
        color: black;
        text-decoration: none;
    }

/*--------------------------------FOOTER----------------------------------------*/

#footer
{
    clear: both;
    background-image: url(../Images/TriangleFooter.png);
    background-repeat: no-repeat;
    background-color: white;
    padding-top: 67px;
}

.footerImages
{
    /*width: 225px;*/
}

.distanceEntreLogo
{
    margin-right:25px;
}

#liensNav
{
    width:220px;
    margin-left:75px;
}

.divNavigationFooter
{
    float: right;
}

#imgPreventionSuicide
{
    height:150px;
    margin-left:17px;
}

.p_footer
{
    color: black;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'AgencyR';
}

.lnkBtn_Footer
{
    color: black;
}

    .lnkBtn_Footer:hover
    {
        color: #669fbf;
        text-decoration: none;
    }

.hr_Footer
{
    color:#669fbf;
    background-color: #669fbf;
    width: 100px;
    margin: 10px 0px;
    height:1px;
    text-align:left;
}

/*----------------------------------------MODAL WINDOWS----------------------------------------*/
.modal-header
{
    -webkit-border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    border-radius: 6px 6px 0px 0px;
    background-color: #7db9e8; /* Old browsers */
    background: -moz-linear-gradient(top, #7db9e8 0%, #2989d8 35%, #1e5799 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(35%,#2989d8), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7db9e8 0%,#2989d8 35%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7db9e8 0%,#2989d8 35%,#1e5799 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7db9e8 0%,#2989d8 35%,#1e5799 100%); /* IE10+ */
    background: linear-gradient(to bottom, #7db9e8 0%,#2989d8 35%,#1e5799 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
}

.modalTitle
{
    margin: 0px;
    padding-left: 10px;
    color: white;
    font-family: 'AgencyR';
    font-size: xx-large;
    font-weight: bold;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
}
